* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {


    background-image: url("photo_2022-06-29_18-47-57.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

 
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.main_content {
    /* height: 260px; */
    width: 600px;

    border: 4px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);

    color: rgb(0, 0, 0);
    /* margin: 10em auto; */
    /* background-color: white; */
    padding: 30px 30px 20px;
    border-radius: 10px;

    transition: all 4s ease-in-out 0.1s;
}

.main_content:hover {
    border: 4px solid rgb(253, 245, 246);
    background-color:rgb(178, 206, 217);

}

.main_content {

    box-shadow: 0px 25px 40px rgb(54, 68, 71);
}

p {
    color: rgb(244, 17, 17);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    font-weight: bolder;
    padding-bottom: 20px;

    animation: blinki 4s linear infinite;
}

@keyframes blinki {
    20% {
        color: rgb(255, 0, 0);
        orphans: 1;
    }

    40% {
        
        opacity: 0;
    }

    60% {
        color: rgb(0, 251, 59);
        /* animation-timeline: 10s; */
        opacity: 1;
    }

    90% {
        opacity: 0;
    }
}


.heading {
    text-align: center;
    margin: -5px;
}

.quote {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
}

h1 {
    
    animation: blinker 5s infinite;
    animation-delay: 0s;

}

@keyframes blinker {
    0% {
        background-color: chocolate;
        color: rgb(23, 215, 218);
    }

    40% {
        
        background-color: rgb(109, 58, 157);
        color: rgb(238, 227, 6);
    }

    60% {
        background-color: rgb(235, 118, 227);
        color: rgb(121, 45, 18);
    }

    80% {
        
        background-color: rgb(45, 197, 93);
        color: rgb(0, 0, 0);

    }

    100% {
        background-color: rgb(0, 167, 222);
        color: rgb(216, 2, 127);
    }
}

.text {
    margin: 40px 2px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-family: 'Hind Vadodara', sans-serif;
}

.text i:last-child {
    display: flex;
    align-items: flex-end;
}

.quote {
    text-align: center;
    font-size: 20px;
    /* word-break: break-all; */
}

.writter {

    /* margin: 25px 10px; */
    margin-bottom: 10px;
    text-align: right;
    font-family: 'Quintessential', cursive;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-style: italic;
}




.main_content .buttons {
    border-top: 1px ridge #ccc;

}

.buttons .feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    background-color: rgb(248, 207, 0);
    border: none;
    font-size: 25px;
    border-radius: 10px;
    display: inline-block;
    padding: 1px 5px 1px 5px;
    margin-right: 10px;
}

button:hover {
    background-color: rgb(196, 175, 70);
    color: white;
    box-shadow: 3px 4px 4px gray;
}

.feature ul {
    display: flex;
    flex-direction: row-reverse;



}

.fa {
    padding: 5px;
    margin-bottom: px;
    font-weight: bold;
    border-radius: 50%;

}

.feature ul li {
    list-style: none;
    border: 2px solid rgb(248, 207, 0);

    background-color: rgb(248, 211, 22);

    border-radius: 50%;
    margin: 0px 30px;
    margin-left: -20px;
    padding: 2px 4px;

}

.feature ul :hover {

    /* border-color: white; */
    background-color: rgb(196, 175, 70);
    border-radius: 50%;
    color: rgb(255, 255, 255)
    
}