* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
	font-size: 10px;
}
body{
	widows: 100%;
	min-height: 100vh;
	font-size: 1.6rem;
	line-height: 140%;
	background-color: #f3f6f6;
	opacity: 0.3;
	background-image: repeating-radial-gradient(
		circle at 0 0,transparent 0 
		#f3f6f6 50px
	),
	repeating-linear-gradient(#56d1b355,#56d1b3);
	opacity: 1;
	display: grid;
	place-items: center;
}

.robotics_club {
	background: #fff;
	color: #333;
	margin:15rem auto ;
	width: 90%;
	max-width: 50rem;
	min-height: 30rem;
	border-radius: 2rem;
}

.iet{
	display: flex;
	justify-content: center;
	transform: translateY(-55%);
}

.iet .img{
	filter: drop-shadow(0rem 2.5rem rgba(0,0,0,0.1));
}

.title{
	text-align: center;
	font-size: 5rem;
	padding: 1rem;
}

.subtitle{
	text-align: center;
	font-size: 2rem;
	padding:1rem ;
}

.acc-container{
	padding: 4rem 2rem;
}

.acc-btn{
	width: 100%;
	padding: 1.6rem 2rem;
	font-size: 1.6rem;
	cursor: pointer;
	background: inherit;
	border: none;
	outline: none;
	text-align: left;
	transition: all 0.5s linear;
}

.acc-btn:after {
	content: "\2023";
	color: #fa8d0c;
	float: right;
	transition: all 0.3sec linear;
}

.acc-btn.is-open:after{
	transform: rotate(90deg);
}
.acc-btn:hover,
.acc-btn.is-open{
	color: #000;
	font-weight: bold;
}

.acc-content{
	max-height: 0;
	color: rgba(0, 0, 0, 0.75);
	font-size: 1.5rem;
	margin: 0 2rem;
	padding-left: 1rem;
	overflow: hidden;
	transition: max-height;
}
}
