*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background: url(background.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.Intro{
    text-align: center;
}
.Intro img{
    width: 12rem;
    border-radius: 50%;
    border: 4px solid black;
}
.Intro h1{
    font-size: 2.5rem;
}
.Intro h2{
    font-size: 1.5rem;
    font-weight: 400;
}
.Social-media{
    text-align: center;
}
.Social-media ul{
    list-style: none;
}
.Social-media ul li , p{
    border: 2px solid black;
    font-size: 1.5rem;
    background-color: rgba(255, 253, 253, 0.5);
    border: none;
    border-bottom: 2px solid rgb(68, 65, 65);
    padding: 10px;
    padding-left: 1.5rem;
    border-radius: 10px;
    text-align: initial;
    margin: 10px;
}
.Social-media p{
    margin-top: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.1rem;
    font-weight: bolder;
}
.Social-media ul a{
    color: black;
    text-decoration: none;
}
.Social-media ul li:hover{
    color: white;
    background: rgba(0, 0, 0, 0.5);
}
.Social-media ul i{
    font-size: 2rem;
}
footer{
    text-align: center;
}
footer h2{
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    padding: 10px;
}