.footer {
  margin-top: 10rem;
  width: 100%;
  height: auto;
  color: #fff;
  background-color: #000;
}
.text {
  font-weight: 300;
  margin: 0 auto;
  width: 50%;
}
.footer p {
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
}

p a {
  color: blue;
}

.footer p span {
  font-weight: 500;
}
ul {
  list-style: none;
  text-align: center;
}
ul li {
  font-size: 4rem;
  padding: 0.5rem 2rem 1rem 2rem;
  display: inline-block;
}
a {
  color: #fff;
  transition: all 0.1s;
}
a:hover {
  color: blue;
}
a i {
  transition: all 0.1s;
}
a:hover i {
  transform: scale(1.1);
}

@media (max-width: 37.5em) {
  .footer {
    margin-top: 15rem;
  }
  .text {
    width: 80%;
  }
  .footer p {
    font-size: 3rem;
  }
}
