.header {
  padding: 0.5rem 1rem;
  font-size: 3rem;
  width: 100%;
  height: 7rem;
  background-color: #6d02fa;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to right, #0e5400, #540031, #540000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.total {
  font-weight: 300;
  background-color: #910000;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
}
@media (max-width: 37.5em) {
  .header {
    height: 10rem;
  }
  .logo {
    font-size: 6rem;
  }
  .total {
    font-size: 4rem;
    padding: 0.5rem 2rem;
  }
}
