.option {
  margin: 2rem auto 2rem auto;
  width: 49rem;
  display: flex;
  justify-content: space-between;
  @media (max-width: 37.5em) {
    justify-content: space-between;
    width: 70rem;
  }
  & button {
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 2rem;
    border: 1px solid #fff;
    border-radius: 2rem;
    color: #fff;
    background-color: #2e0000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
    transition: all 0.1s;
    &:hover {
      transform: translateY(-2px);
    }
    @media (max-width: 37.5em) {
      font-size: 3rem;
    }
  }
}
